html {
  background: rgb(51,195,240);
}

.jumbotron {
  height: 80vh;
}

.modal {
  width: 30%;
  margin-left: 35%;
}

/*.navbar-light {
  background: rgb(51,195,240);
  color: white;
}

.navbar-brand-custom {
  color: white;
  font-size: 2em;
}*/

body {
  background: white;
}

.navbar-custom {
  background-color: rgb(51,195,240);
  border-radius: 0;
  height: 4em;
  vertical-align: middle;
}

.navbar-brand-custom {
  font-size: 1.5em;
  color: white !important;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

a {
  text-decoration: none;
}

th {
  font-weight: normal;
}

#characters {
  text-align: right;
  font-size: 11px;
}

img {
  display: none;
  width: 300px;
  height: auto;
  padding: 0 0 0.5em 0;
}

#file {
  padding-top: 0.5em;
}

.delete-button {
  float: right;
}

footer {
  text-align: center;
}

label[for=message] {
  padding-top: 1em;
}
