html {
  background: rgb(51,195,240);
}

.jumbotron {
  height: 80vh;
}

.modal {
  width: 30%;
  margin-left: 35%;
}

/*.navbar-light {
  background: rgb(51,195,240);
  color: white;
}

.navbar-brand-custom {
  color: white;
  font-size: 2em;
}*/

body {
  background: white;
}

a {
  text-decoration: none;
  color: white;
}

th {
  font-weight: normal;
}

#characters {
  text-align: right;
  font-size: 11px;
}

img {
  display: none;
  width: 300px;
  height: auto;s
  padding: 0 0 0.5em 0;
}

#file {
  padding: 0 0 1em 0;
}

.delete-button {
  float: right;
}

footer {
  text-align: center;
}
