<header>
  <nav class="navbar navbar-light navbar-static-top bg-faded navbar-custom">
    <a class="navbar-brand navbar-brand-custom vertical-center" href="#">Tweet Tweet</a>
    <ul class="nav float-xs-right navbar-nav vertical-center">
      <li class="nav-item active">
        <button class="btn btn-primary" id="log-out-button" href="#">Log Out</button>
      </li>
    </ul>
  </nav>
</header>

<form id="tweet-form">
  <div class="container">
    <div class="form-group">
      <label for="message">Message</label>
      <textarea class="form-control" rows = "2" placeholder="What would you like to post?" id="message"></textarea>
      <div class="row">
        <div class="col-md-6" id="file">
          <label class="custom-file">
            <input type="file" accept="image/png, image/jpeg" class="custom-file-input" id="upload">
            <span class="custom-file-control"></span>
          </label>
        </div>
        <div class="col-md-6">
          <p id="characters">
            <span id="length">140</span>
          </p>
        </div>
        <div class="row">
          <img id="file" src="#" alt="File">
        </div>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
      </div>
    </div>
  </div>
</form>

<div class="container">
  <table class="table">
    <tbody>

    </tbody>
  </table>
</div>

{{>footer}}
