<form id="register-form">
  <div>
    <input type="text" id="register-username-input" class="form-control" name="username">
    <label for="register-username-input">Username</label>
  </div>
  <div>
    <input type="password" id="register-password-input" class="form-control" name="password">
    <label for="register-password-input">Password</label>
  </div>
  <div>
    <input type="password" id="register-password-confirm-input" class="form-control" name="confirmPassword">
    <label for="register-password-confirm-input">Confirm Password</label>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
<form id="login-form">
  <div>
    <input type="text" id="log-in-username-input" class="form-control" name="username">
    <label for="log-in-username-input">Username</label>
  </div>
  <div>
    <input type="password" id="log-in-password-input" class="form-control" name="password">
    <label for="log-in-password-input">Password</label>
  </div>
  <button type="submit" class="btn btn-primary">Log in</button>
</form>

{{>footer}}